.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  padding-top: 4vh;
  padding-left: 3vw;
}

.header {
  margin-bottom: 5px;
}

.nav a {
  padding: 0.3em;
  border-radius: 3px;
}

.nav a:hover {
  background-color: var(--category-hover);
}

.active {
  background-color: var(--main) !important;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .nav {
    display: none;
  }
}
