.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.nav a:hover,
.active {
  color: #7eafcf;
}

@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }
}
