.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  padding-top: 4vh;
  padding-left: 3vw;
}

.nav a {
  padding: 0.3em;
  border-radius: 3px;
}

.nav a:hover {
  background-color: #f1f1f1;
}

:global(.dark) .nav a:hover {
  background-color: #373737;
}

.active {
  background-color: #7eafcf !important;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .nav {
    display: none;
  }
}
