.header {
  border-bottom: #eeeeee 1px solid;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 5vw 40px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 5vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav a {
  height: 40px;
  text-align: center;
}

.active {
  border-bottom: #7eafcf 3px solid;
}

@media screen and (max-width: 500px) {
  .container {
    height: 110px;
    padding-bottom: 30px;
  }

  .nav a {
    height: 30px;
  }
}
