.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5vw;
  border-bottom: #eeeeee 1px solid;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 370px) {
  .header {
    flex-direction: column;
    height: 100px;
    padding: 2vh 0;
  }
}
