.article {
  line-height: 1.5;
  margin-bottom: 100px;
}

.article > * {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.article p {
  line-height: 1.7;
}

.article ul,
.article ol {
  padding-left: 2em;
}

.article ul li,
.article ol li {
  margin-bottom: 0.5em;
}

:global(.dark) .article p,
:global(.dark) .article ul li,
:global(.dark) .article ol li {
  color: #ccd0d5;
}

.article li > p {
  margin-bottom: 1em;
}

.article hr {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #e4e4e4;
  height: 1px;
  border: 0;
}

.article pre {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  overflow-x: auto;
  white-space: pre;
}

.article img {
  max-width: 100%;
}

.article code:not(pre code) {
  background-color: #ededed;
  color: #eb5757;
  padding: 0.15em 0.4em;
  border-radius: 4px;
}

:global(.dark) .article code:not(pre code) {
  background-color: #4b5563;
  color: #fff;
}

.article a {
  color: #7eafcf;
}

.article a:hover {
  text-decoration: underline;
}
