.article {
  line-height: 1.5;
  padding: 1em 0;
  margin-bottom: 100px;
  border-top: #e4e4e4 1px solid;
}

.article h1 {
  line-height: 2;
  margin-top: 1em;
}

.article h2 {
  line-height: 1.9;
}

.article h3 {
  line-height: 1.8;
}

.article p {
  line-height: 1.7;
  margin-bottom: 2em;
}

.article ul,
.article ol {
  padding-left: 1.5em;
  margin-bottom: 2em;
}

.article ul li,
.article ol li {
  margin-bottom: 0.5em;
}

.article li > p {
  margin-bottom: 1em;
}

.article hr {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #e4e4e4;
  height: 1px;
  border: 0;
}

.article pre {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  overflow: auto;
}

.article img {
  max-width: 100%;
}

.article code:not(pre code) {
  background-color: #ededed;
  color: #eb5757;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}
