.header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.desc {
  margin: 10px 0;
}

.date {
  font-size: 0.9rem;
}

:global(.dark) .desc,
:global(.dark) .date {
  color: #9d9d9d;
}

.line {
  margin-bottom: 2em;
}
