.page {
  display: grid;
  grid-template-columns: 150px auto;
}

.postList {
  list-style: none;
}

.post {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.desc {
  color: #c2c2c2;
  font-size: 0.9rem;
  margin: 3px 0;
}

.date {
  font-size: 0.9rem;
}
