.header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.desc {
  margin: 10px 0;
  color: var(--desc-color);
}

.date {
  font-size: 0.9rem;
  color: var(--date-color);
}

.line {
  margin-bottom: 2em;
}
