.dropDown {
  display: none;
}

.postList {
  list-style: none;
  padding: 4vh 3vw 4vh 0;
}

@media screen and (max-width: 700px) {
  .page {
    display: block;
  }

  .postList {
    padding: 10px 0;
  }
}

.post {
  display: block;
  width: 100%;
  padding: 1rem 0.7rem;
  border-radius: 5px;
}

.post:hover {
  background-color: var(--post-hover);
}

.title {
  word-break: keep-all;
  line-height: 1.5;
  font-size: 1.2rem;
}

.desc {
  color: var(--desc-color);
  font-size: 0.9rem;
  margin: 0.4em 0;
}

.date {
  font-size: 0.9rem;
  color: var(--date-color);
}

.pageBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 70px;
}

.pageBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--page-btn-color);
}

.pageBtn:first-child,
.pageBtn:last-child {
  border: var(--page-move-btn-color) 1px solid;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.pageBtn:hover,
.selected {
  color: var(--main);
}

.pageBtn:disabled {
  color: var(--page-btn-color);
  cursor: default;
}
