.page {
  display: grid;
  grid-template-columns: 150px auto;
}

.dropDown {
  display: none;
}

@media screen and (max-width: 500px) {
  .page {
    display: block;
  }
}

.postList {
  list-style: none;
}

.post {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.desc {
  color: #c2c2c2;
  font-size: 0.9rem;
  margin: 0.4em 0;
}

.date {
  font-size: 0.9rem;
}

.pageBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBtn {
  background-color: transparent;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  color: inherit;
}

.pageBtn:hover,
.selected {
  color: #7eafcf;
}
