.article {
  line-height: 1.5;
  margin-bottom: 100px;
}

.article > * {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.article p {
  line-height: 1.7;
}

.article ul,
.article ol {
  padding-left: 2em;
}

.article ul li,
.article ol li {
  margin-bottom: 0.5em;
}

.article p,
.article ul li,
.article ol li {
  color: var(--prose);
}

.article li > p {
  margin-bottom: 1em;
}

.article hr {
  margin-top: 3em;
  margin-bottom: 3em;
  height: 1px;
  border: 0;
}

.article pre {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  overflow-x: auto;
}

.article code:not(pre code) {
  background-color: var(--code-bg);
  color: var(--code-color);
  padding: 0.15em 0.4em;
  border-radius: 4px;
}

.article img {
  max-width: 100%;
}

.article a {
  color: var(--link-color);
}

.article a:hover {
  text-decoration: underline;
}
