.dropDown {
  display: none;
}

.postList {
  list-style: none;
  padding: 4vh 3vw 4vh 0;
}

@media screen and (max-width: 700px) {
  .page {
    display: block;
  }

  .postList {
    padding: 10px 0;
  }
}

.post {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.desc {
  color: #9d9d9d;
  font-size: 0.9rem;
  margin: 0.4em 0;
}

.date {
  font-size: 0.9rem;
  color: #9d9d9d;
}

.pageBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 70px;
}

.pageBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #999999;
}

.pageBtn:first-child,
.pageBtn:last-child {
  border: #e4e4e4 1px solid;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.pageBtn:hover,
.selected {
  color: #7eafcf;
}

.pageBtn:disabled {
  color: #999999;
  cursor: default;
}
