.aside {
  position: absolute;
  right: -280px;
  height: 100%;
}

.toc {
  position: sticky;
  top: 50px;
  line-height: 2;
  font-size: 0.76rem;
  width: 250px;
}

.heading {
  list-style: none;
  color: var(--heading-color);
  padding: 0 1em;
  border-left: transparent 3px solid;
}

.heading:hover {
  color: var(--toc-heading-hover);
}

.heading.current {
  background-color: var(--toc-current-index-bg);
  color: var(--toc-current-index-color);
  border-left: var(--main) 3px solid;
}

@media screen and (max-width: 1400px) {
  .aside {
    position: static;
    height: auto;
  }

  .toc {
    position: static;
    transform: none;
    border-bottom: var(--hr) 1px solid;
  }

  .headings {
    margin-bottom: 30px;
  }

  .heading {
    border: none;
    font-size: 1.1em;
    color: var(--toc-heading-hover);
  }

  .heading.current {
    background-color: transparent;
    border-left: none;
  }

  .heading:hover {
    color: var(--main);
    text-decoration: underline;
  }
}

.toc-level-1 {
  padding-left: 2em;
}

.toc-level-2 {
  padding-left: 3em;
}
