@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #7eafcf;
  --background: #fff;
  --hr: #eeeeee;
  --code-bg: #ededed;
  --code-color: #eb5757;
}

.dark {
  --main: #74b5d8;
  --background: #141414;
  --hr: #374151;
  --code-bg: #232321;
  --code-color: #eb5756;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  background-color: var(--hr);
  height: 1px;
  border: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }
}
